.root {

}

.card {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    width: 200px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.listContainer {
    margin: 10px;
}

.todoListContainer {
    display:flex;
}

.inProgressContainer {
    background: #eee;
}

.completeContainer {
    background: #eee;
}

.sudoIcon {
    cursor: pointer;
}